<link rel="stylesheet" href="./style.css">
<form action="/" method="post" enctype="application/x-www-form-urlencoded">
  <div id="task-number">
    <label >task number</label>
    <input type="text" class="form-control"  name="id">
    
  </div>
  <div id="task">
    <label >task</label>
    <input type="text" class="form-control"  name="name">
  </div>
  <div id="time">
    <label >time</label>
    <input type="time" class="form-control"  name="time">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>